<!-- <h2>Creacion de Genero</h2>

<button mat-flat-button color="primary" type="button" (click)="guardarCambios()">Enviar!</button> -->

<h2>Creacion de Genero</h2>

<!-- <form (submit)="guardarCambios()" [formGroup]="form">
  <mat-form-field> De material disign
    <mat-label>Nombre*</mat-label>
    <input formControlName="nombre" matInput/>
    <mat-error *ngIf="form.invalid">

      <label>{{ obtenerErrorCampoNombre() }}!</label>
    </mat-error>
  </mat-form-field>
  <div>
    <button mat-flat-button color="primary" [disabled]="form.invalid">
      Guardar cambios
    </button>
    <a mat-stroked-button routerLink="/generos">
      Cancelar
    </a>
  </div>
</form> -->

<app-formulario-generos (onSubmit)="guardarCambios($event)" ></app-formulario-generos>
