<!-- <p>formulario-generos works!</p> -->
<app-mostrar-errores [errores]="errores"></app-mostrar-errores>

<form (submit)="guardarCambios()" [formGroup]="form">
  <mat-form-field> <!-- De material disign -->
    <mat-label>Nombre*</mat-label>
    <input formControlName="nombre" matInput/>
    <mat-error *ngIf="form.invalid || errores.length < 1">

      <label>{{ obtenerErrorCampoNombre() }}!</label>
    </mat-error>
  </mat-form-field>
  <div>
    <button mat-flat-button color="primary" [disabled]="form.invalid">
      Guardar cambios
    </button>
    <a mat-stroked-button routerLink="/generos">
      Cancelar
    </a>
  </div>
</form>
