<!-- <p>Hola Mundo</p> -->
<app-menu></app-menu>
<!--
<input type="text" (input)="title = $event.target.value" placeholder="Hola">
<input type="checkbox" checked (change)="ocultar = !ocultar" >Ocultar
<app-ciclo-de-vida *ngIf="!ocultar" [titulo]="title" ></app-ciclo-de-vida> -->
<!-- <app-rating [maximoRating]="5"></app-rating> -->

<div class="contenedor">
  <router-outlet></router-outlet>
</div>

<!--
<input type="file" style="display: none" #cargador>

<button (click)="cargador.click()" >Cargar Archivo</button> -->
