.contenedor{
  padding: 50px;
  background-color: rgb(109, 34, 179);
  min-height: 100vh;
}

.containerMovies{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

*{
  color: white;
}
