.peliculas_container{
  width: 250px;
  height: 200px;
  background-color: blanchedalmond;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;

}

.containerMovieCard{
  display: flex;
  flex-direction: column;
}
